@import '/styles/mixins&variables';

.editDataBaseContent {
  @include flexible_column();
}

.header {
  margin: $indent_large 0;
  position: relative;
  width: 100%;
  @include flexible_row(center, center);
}

.sidebar {
  position: relative;
  padding: $indent_large $indent_small;
  @include flexible_column();
  width: 230px;
  background-color: #b7d2ae;
  flex-shrink: 0;

  .sidebarLinks {
    @include flexible_column();

    a {
      margin-bottom: $indent_large;
      @include flexible_row(center, center);
      min-width: 150px;
      height: 35px;
      color: white;
      border-radius: $borderRadius_small;
      font-size: $fontSize_small;
      font-weight: bold;
      background-color: #437c62;
    }
  }

  .sidebarFilters {
    width: 100%;
    margin-top: 30px;
    @include flexible_column();
    align-items: center;

    span {
      text-align: center;
      margin: $indent_large 0 $indent_small;
      font-weight: bold;
      color: $commonColor_primary;
    }
  }
}

.content {
  width: 100%;
  max-width: 900px;
  @include flexible_column();
}

@media(max-width: 1200px) {
  .content {
    padding-top: 40px;
  }
}

@media(max-width: 768px) {
  .header {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    h2 {
      text-align: right;
      font-size: $fontSize_medium;
    }
  }
  .content {
    padding-top: 0;
  }
}

@media(max-width: 576px) {
  .header {
    display: none;

    h2 {
      padding-left: $indent_small;
      font-size: $fontSize_small;
    }
  }

  .sidebar {
    position: absolute;
    height: 100vh;
    z-index: 10;
    width: 0;
    padding: 0;

    .sidebarLinks, .sidebarFilters {
      display: none;
    }
  }
}