@import '/styles/mixins&variables';

.editDataBaseContent {
  @include flexible_column();
}

.header {
  margin: $indent_large 0;
  position: relative;
  width: 100%;
  @include flexible_row(center, center);
}

.content {
  width: 100%;
  max-width: 900px;
  @include flexible_column();
}

@media(max-width: 1200px) {
  .content {
    padding-top: 40px;
  }
}

@media(max-width: 768px) {
  .header {
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    h2 {
      text-align: right;
      font-size: $fontSize_medium;
    }
  }
  .content {
    padding-top: 0;
  }
}

@media(max-width: 576px) {
  .header {
    display: none;

    h2 {
      padding-left: $indent_small;
      font-size: $fontSize_small;
    }
  }
}