$indent_large: 16px;
$indent_small: 8px;
$indent_extraLarge: 24px;

$borderRadius_small: 5px;
$borderRadius_medium: 8px;
$borderRadius_circle: 50%;

$commonColor_primary: #354b8f;
$commonColor_secondary: #4B8F35;
$commonColor_darkRed: #8f354b;
$commonColor_green: #5fb443;
$color_button: #C7D0D3;
$color_background: #e7eaf0;

$fontSize_large: 24px;
$fontSize_medium: 18px;
$fontSize_small: 14px;
$fontSize_extraSmall: 12px;

@mixin flexible_column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexible_row($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin title {
  font-size: $fontSize_large;
  font-weight: bold;
}

@mixin category {
  cursor: pointer;
  background-color: $color_button;
  margin: 0 $indent_small $indent_small;
  @include flexible_row(center, center);
  border-radius: $borderRadius_small;
  color: white;
  transition: 0.2s background-color;
  padding: $indent_small;
  min-width: 50px;
}